<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="css/font" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body style="background: url('image/background.png');">
	<!--
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>-->
  <div class="container">
    <!-- Page Content goes here -->
    <div class="row">
    	<div class="col s12" style="padding:0; margin-left: -6%">
    		<img src="image/client_icon.png" style="width: 50%; margin-top: 0px">
    	</div>
    </div>
    <div class="row">
    	<div class="col s12">
    		<center><a href="/mobile/complain/"><img src="image/Report_tip.png" style="width: 37%; margin-top: 50px"></a></center>
    	</div>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col s6">
      	<center>
      		<a href="emergency_number.html">
      			<img src="image/emergency_number.png" style="width: 80%; ">
      		</a>
      	</center>
      </div>
      <div class="col s6">
      	<center>
      		<a href="my_tip.html">
      			<img src="image/my_tip.png" style="width: 80%;">
      		</a>
      	</center>
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col s6">
      	<center>
      		<a href="about.html">
      			<img src="image/about.png" style="width: 80%; ">
      		</a>
      	</center>
      </div>
      <div class="col s6">
      	<center>
      		<a href="settings.html">
      			<img src="image/settings.png" style="width: 80%;">
      		</a>
      	</center>
      </div>
    </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
